/* Universal */
@font-face {
    font-family: Avenir;
    src: url('../fonts/Avenir.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0a0a0a;
    font-family: "Avenir", "Outfit", "Urbanist", sans-serif;
    max-width: 944px;
    width: 80%;
    margin: auto;
    color: #f5f5f7;

}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

li {
    list-style: none;
}

ul, ol, li, nav, header, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

/* Typography - Universal */
h1 {
    font-size: 120px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    font-style: normal;
}

h3 {
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
    font-style: normal;
}

p {
    font-size: 16px;
    font-weight: 350;
    line-height: 28px;
    color: #f5f5f780;
}

.badgeLabel {
    color: #F5F5F7;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.breadCrumb a {
    font-size: 16px;
    font-weight: 350;
    line-height: 28px;
    color: #f5f5f780;
    transition: 0.3s ease; 
}

.breadCrumb a:hover {
    color: #f5f5f7;
    font-weight: 500;
    transition: 0.3 ease;
}

/* Typography - Case study */
.caseStudy h1 {
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.caseStudy h2 {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    padding: 0 0 16px 0;
    margin: 0;
}

.caseStudy h3 {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    padding: 0 0 12px 0;
    margin: 0;

}

.caseStudy h4 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.caseStudy p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    padding: 0;
    margin: 0;
    max-width: 760px;
}

/* Button - Universal */
button {
    border: none;
    background: none;
    color: #f5f5f7;
    font-family: "Avenir", "Outfit", "Urbanist", sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    gap: 16px;
    transition: 0.3s ease;
}


/* Images - Universal */
.desktopImage {
    display: block;
}

.mobileImage {
    display: none;
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

nav img {
    max-width: 32px;
    height: auto;
}

.navigationLinks {
    display: flex;
}

.navigationLinks li a {
    color: #f5f5f7;
    margin-left: 80px;
}


/* Hero Section */
.heroSection {
    padding: 120px 0 60px 0;
}

.caseStudy {
    padding: 48px 0 48px 0;
}

#hello {
    font-size: 64px;
    font-weight: 300;
    line-height: normal;
    font-style: normal;
    color: #f5f5f7;
}

.heroSection strong {
    color: #f5f5f7;
    padding: 0 4px;
}

.heroSection p {
    padding-top: 8px;
    max-width: 662px;
}

/* Quick Links Section */

.quickLinks {
    padding-top: 48px;
    padding-bottom: 48px;
}

.quickLinkCardTitle {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.quickLinkCardTitle h4 {
    color: #F5F5F7;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex: 1 0 0;
    padding: 0;
    margin: 0;
}

.quickLinkCardTitle img {
    width: 40px;
    height: 40px;
}

.badge {
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
}

.quickLinkCardHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.quickLinkCardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding-top: 24px;
}

.quickLinkCard {
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #f5f5f720;
    width: auto;
    height: auto;
    transition: 0.3s ease;
}

.quickLinkCard:hover {
    scale: 102%;
    transition: 0.3s ease;
}

.quickLinksGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

}

/* Projects Section*/
.project {
    padding: 60px 0;
}

.project img {
    border-radius: 24px;
    width: 100%;
    height: auto;
    transition: 0.3s ease;
}

.project img:hover {
    scale: 101%;
    transition: 0.3s ease;
}

.projectContent {
    display: flex;
    justify-content: flex-end;
    padding-top: 32px;
}

.projectContent div {
    max-width: 760px;
    padding-left: 116px;
}

.projectContent div p {
    max-width: 600px;
    padding: 8px 0 24px 0;
}


/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 48px 0 40px 0;
}


/* Case Study page */
.wipContent, .wipContent div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wipContent div {
    padding: 40px 0;
}

.wipContent h3 {
    padding-bottom: 24px;
}

.illustration {
    width: 100%;
    height: auto;
    max-width: 325px;
}

.primaryButton {
    background-color: #f5f5f7;
    color: #0a0a0a;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
    padding: 16px 32px;
    border-radius: 12px;
}

.overviewCard {
    border-radius: 8px;
    border: 1px solid rgba(245, 245, 247, 0.20); 
    padding: 16px;   
}

.overviewGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    padding-top: 80px;
}

.note {
    position: absolute;
}

.note div {
    color: #F5F5F780;
    font-family: Caveat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imageCarousal {
    width: 100%;
    overflow: hidden;
}

.imageCarousal div {
    display: flex;
    gap: 64px;
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

.imageCarousal img {
    width: auto;
    height: 320px;
}

.statsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    padding-top: 40px;
}

.statCard {
    padding: 24px;
    border-radius: 8px;
    background-color: #F5F5F710;
}

.statCard div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.statNumber {
    color: #F5F5F7;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.statTitle {
    color: #F5F5F7;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bulletPoints {
    padding: 0;
    margin: 0;
    max-width: 760px;
}

.bulletPoints li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    padding: 0;
    margin: 0;
    color: #F5F5F780;
}

.imgContainerTokenStructure{
    background: #F5F5F7;
    border-radius: 24px;
    height: 244px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.imgTokenStructure {
    max-height: 154px;
    width: auto;
}

.imgContainerTokenMod {
    background: #F5F5F7;
    border-radius: 24px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.imgTokenMod {
    max-height: 560px;
    width: auto;
}

.imgContainerStorybooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.imgContainerStorybooks img {
    max-height: 420px;
    width: auto;
    border-radius: 12px;

}

.thanks {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.otherCaseStudyCard {
    display: flex;
    gap: 32px;
    align-items: center;
}

.otherCaseStudyImg {
    max-height: 240px;
    max-width: 300px;
    border-radius: 24px;
    overflow: hidden;
}

.otherCaseStudyImg a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.otherCaseStudyImg img {
    width: 100%;
    transition: 0.3s ease;
}

.otherCaseStudyImg img:hover {
    transition: 0.3s ease;
    width: 105%;
}


/* Responsiveness */ 
/* Tablet screens */
@media screen and (max-width:1200px) {
    .navigationLinks li a {
        margin-left: 64px;
    }

    #hello {
        font-size: 56px;
    }

    h1 {
        font-size: 88px;
    }

    h2 {
        font-size: 26px;
        line-height: 38px;
    }

    .project {
        padding: 48px 0 ;
    }

    .projectContent div {
        max-width: 560px;
        padding-left: 32px;
    }

    h3 {
        font-size: 40px;
    }

    footer .navigationLinks li a {
        margin-left: 48px;
    }

    .quickLinksGrid {
        grid-template-columns: 1fr;
    }

    .quickLinkCardTitle h4 {
        font-size: 20px;
    }

    .quickLinkCardTitle img {
        width: 32px;
        height: 32px;
    }

    .quickLinks {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    /* Case study page - tablet */

    .statNumber {
    font-size: 32px;
    }

    .imgTokenStructure {
    max-height: 120px;
    width: auto;
    }

    .imgTokenMod {
    width: 100%;
    height: auto;
    }

    .imgContainerStorybooks img {
    max-height: auto;
    width: 100%;
    } 
    
    .otherCaseStudyContent p{
        display: none;
    }


}

/* Mobile screens */
@media screen and (max-width:600px) {
    body {
        width: 85%;
    }

    nav ul li a{
        display: none;
    }

    .heroSection {
        padding: 64px 0 60px 0;
    }

    #hello {
        font-size: 24px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .project {
        padding: 32px 0 ;
    }

    .projectContent {
        display: block;
        justify-content: flex-start;
        padding-top: 24px;
    }

    .projectContent div {
        padding-left: 0;
        padding-top: 8px;
    }

    .projectContent div p {
        max-width: 600px;
        padding: 8px 0 20px 0;
    }

    .project img {
        border-radius: 12px;
    }

    h3 {
        font-size: 28px;
    }

    footer {
        display: block;
        justify-content: flex-start;
        margin: 0;
        padding: 48px 0 40px 0;
    }

    footer .navigationLinks {
        display: block;
        margin: 8px 0;
    }

    footer .navigationLinks li {
        padding: 8px 0;
    }

    footer .navigationLinks li a {
        margin-left: 0px;
    }

    .desktopImage {
        display: none;
    }
    
    .mobileImage {
        display: block;
    }

    .quickLinksGrid {
        grid-template-columns: 1fr;
    }

    .quickLinkCardTitle h4 {
        font-size: 16px;
    }

    .quickLinkCardTitle img {
        width: 32px;
        height: 32px;
    }

    .quickLinks {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    /* Case study page - mobile */

    .overviewGrid {
        display: grid;
        grid-template-columns: 1fr;
    }


    .statsGrid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .imgTokenStructure {
        height: auto;
        width: 80%;
    }

    .imgContainerTokenStructure{
        border-radius: 16px;
        height: 200px;
    }

    .statNumber {
        font-size: 28px;
    }

    .thanks h2{
        font-size: 24px;
    }

    .otherCaseStudyCard {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .otherCaseStudyContent {
        padding-left: 8px;
    }

    .otherCaseStudyImg {
        border-radius: 16px;
    }

    .note {
        display: none;
    }

}